@font-face {
	font-family: "Baloo";
	src: url("/fonts/Baloo-Regular.ttf") format("truetype");
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: "Baloo", Arial, Helvetica, sans-serif;
}

.header {
	display: flex;
	flex-direction: column;
	width: 100vw;
	position: relative;
}

.loadingScreen {
	display: flex;
	position: fixed;
	background-color: white;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100%;
	z-index: 100;
}

.loadingFrond {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingFrond img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.capitalize {
	text-transform: capitalize;
}

.header div {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.header div img {
	display: flex;
	height: 50px;
	margin-right: 20px;
}

.input-group {
	max-width: 300px !important;
}

.pokemonCards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	height: 150px;
	background-attachment: fixed;
	border-radius: 20px;
	padding: 25px;
	margin: 20px;
	cursor: pointer;
	transition: box-shadow 225ms ease-in-out;
}

.pokemonCards:hover {
	box-shadow: 2px -2px 12px rgba(0, 0, 0, 0.2);
}

.pokemonImg {
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.pokemonImgContainer img {
	transition: transform 225ms ease-in-out;
}

.pokemonCards:hover .pokemonImgContainer img {
	transform: scale(1.05);
}

#cardMenu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.typeImg {
	width: 30px;
	height: 30px;
	margin: 5px;
	transition: transform 0.225s;
}

.pokemonCards:hover .typeImg {
	transform: scale(1.05);
}

.idNr {
	color: rgba(0, 0, 0, 0.5);
	transition: transform 0.225s;
	
}
.pokemonCards:hover .idNr {
	transform: scale(1.05);
}

.pokemonTyps {
	display: flex;
}

.footerButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	margin-bottom: 40px !important;
}

.pokemonInfoCard {
	display: flex;
	width: 300px;
	overscroll-behavior: contain;
}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	overflow: hidden;
	backdrop-filter: blur(3px);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 101;
}

.btn-close {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
}

.progress {
	height: 16px;
	font-size: 14px;
}

.card {
	width: 400px;
	border-radius: 20px;
}

.card-title {
	color: white;
	font-size: 44px;
	position: absolute;
	width: 320px;
	left: 20px;
	top: 56px;
}

.card-img-top {
	width: 250px;
	padding-top: 50px;
}

.card-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pokemon-id {
	position: relative;
	color: rgba(255, 255, 255, 0.39);
	font-size: 90px;
}

.card-body {
	padding-left: 20px !important;
	width: 100%;
	padding: 0;
}
.info-area {
	margin: 20px;
}

@media screen and (max-width: 750px) {
	.card {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.card-title {
		top: 33px;
	}

	.pokemon-id {
		font-size: 60px;
	}

	.card-img-top {
		padding-top: 30px;
		width: 60%;
		height: auto;
	}

	.card-top {
		width: 100%;
		height: 100%;
		border-radius: 0px !important;
	}

	.info-area {
		width: 80%;
	}

	.info-area span {
		font-size: 14px;
	}

	.btn-close {
		position: absolute;
		left: 15px;
		top: 15px;
		width: 50px;
		height: 50px;
	}

	.card-body {
		width: 80%;
	}
	.progress {
		height: 5px;
		font-size: 0px;
	}
}
